
<div class="content-container">
  <div class="content-area">

    <div class="row">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
        <div class="card-header">
        <img src="../../assets/images/AngularJS-large.png" width="225" height="70">
        <h1>app works!</h1>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<!--<md-card>langName : {{'langName' | translate}}</md-card>

<br />
<md-card>environment : {{ configuration.ENV.envName }}</md-card>

<br />
<md-card>app name : {{ configuration.APP_NAME }}</md-card>

<br />
<md-card>version : {{ configuration.APP_Version }}</md-card>-->
