<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="footer-logo">
      <img class="docs-footer-angular-logo"
           src="../../../assets/images/angular-white-transparent.svg"
           alt="angular">
    </div>

    <div class="docs-footer-links">
      <ul>
        <li> <a href="https://github.com/geoffroyvergne/angular-material-startero">Sources on GitHub</a> </li>
      </ul>
    </div>

    <div class="docs-footer-copyright">
      <p>Angular Material Starter</p>
    </div>
  </div>
</footer>
