server {
  listen       ${NGINX_PORT};
  server_name  ${NGINX_SERVER_NAME};

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    autoindex ${NGINX_AUTO_INDENT};
    
    try_files $uri $uri/ /index.html;
  }
}